{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {% if category %}
        {% category.description|truncatewords:155 }}
    {% else %}
        Welcome to Duvera where you can buy different items...
    {% endif %}
{% endblock %}
{% block title %}
    {% if category %}
        {% category.name }} - Duvera
    {% else %}
        See our New Collections -Duvera
    {% endif %}
{% endblock %}

{% block content %}
{% if category %}

    <div>
        <div class="row my_row_class">
            <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}"> Our Product Collections"</a></p>
        </div>
            </div>
    </div>
    {% endif %}
<div class="mx_auto">
    {% if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
    <br>
<div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
</div>
     {% else %}
<div>
<img class="my_image my_image_padding" src="{% static 'img/duvera.png' %}" alt="our products" width="1330px;">
</div>
<br>
<div>
    <h1 class="text-center my_title"> Oue products Collections</h1>
    <p class="text-justify">This project is a web based shopping system for an existing shop.The project objective is to deliver the online shopping application intoandroid platform.This project is an attempt to provide the advantages of online shopping tocustomers of a real shop. It helps buying the products in the shopanywhere through internet by using an android device. Thus the customerwill get the service of online shopping and home delivery from his favoriteshop. This system can be implemented to any shop in the locality or tomultinational branded shops having retail outlet chains.If shops are providing an online portal where their customers can enjoy
        easy shopping from anywhere, the shops won’t be losing any more
        customers to the trending online shops such as flipcart or ebay. Since theapplication is available in the Smartphone it is easily accessible andalways available.</p>
</div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width:18rem; height:30rem;">
                <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"  style="height:330px;"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}

        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-lite btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>

{% endblock %}
